// Fonts
@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700&display=swap&subset=latin-ext');

// Abstract
@import "abstract/variables";
@import "abstract/select";
@import "abstract/mixins";
// @import "abstract/functions";

// Base
@import "base/base";
@import "base/typography";
// @import "base/utilities";
// @import "base/animations";

// Components
@import "components/art-card";
@import "components/flipping-card";
@import "components/button";
@import "components/about";
// @import "components/story";
// @import "components/bg-video";
// @import "components/form";
// @import "components/popup";

// Layout
// @import "layout/navigation";
@import "layout/panel";
@import "layout/main";
@import "layout/footer";
@import "layout/navbar";
@import "layout/main-gallery-grid";

// Pages
// @import "pages/home";