.footer {
    padding: 4rem 2rem; 
    background-color: $color-black;
    color: $color-gray-light-1;  
    text-align: center;
    // border-bottom-left-radius: .5rem;
    // border-bottom-right-radius: .5rem; 
    min-height: 10vh;
}