doctype html
html(lang='en')
	head
		include ./components/_head

	body
		nav.nav
			include ./components/_nav

		main.main
			include ./components/_main

		footer.footer
			include ./components/_footer

		panel.panel
			include ./components/_panel

		script(src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js')
		script(src='/js/script.js')
