// COLORS:
$color-white: #FFF; // Black
$color-black: #00171F; // Black

$color-gray-light-1: #f7f7f7; // Gray light 1
$color-gray-light-2: #eee; // Gray light 2
$color-gray-dark: #777; // Gray

$color-main-light-2: #C1DAE5; // Main 1
$color-main-light-1: #3C6C80; // Main 2
$color-main: #0181B7;         // Main 3
$color-main-dark-1: #015376;  // Main 4
$color-main-dark-2: #2A5060;  // Main 5

$color-accent: #FF6D8D;  // Blue 5

// Typography:
$font-size: 1.6rem;
$rem-definition: 62.5%;