body {
    // font-family: 'Montserrat Alternates', 'Segoe UI', 'Arial', sans-serif;
    font-family: 'Kalam', cursive;    font-weight: 300;
    line-height: 1.7; 
    font-size: 1.6rem; 
    color: $color-black;
}

h1 {
    font-weight: inherit; 
    font-size: inherit;
}

h2 {
    font-weight: inherit;
}

.icon {
    // font-size: 2.1rem;
    vertical-align: middle;
    color: rgba($color-black, .8);
}

.link {
    &--nolink {
        &:link,
        &:active {
            text-decoration: none;
            color: inherit;
        }
    }
}