body {
    font-family: 'Montserrat Alternates', 'Segoe UI', 'Arial', sans-serif;
    font-weight: 300;
    line-height: 1.7; 
    font-size: 1.6rem; 
    color: $color-black;
}

h1 {
    font-weight: inherit; 
    font-size: inherit;
}

h2 {
    font-weight: inherit;
}