*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: $rem-definition;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden
}

body{
    box-sizing: border-box;
    overflow: hidden;
    background-color: $color-gray-light-1;
}