.card
    card.card__side.card__side--front
        .card__image.card__image-1(style='background-image:url(/img/art-1.jpg);')
        h4.card__heading
            span.card__heading--span Painting Name
        .card__details
            ul
                li Details about it...
                li 30 x 20 x 15 cm
                li Oil on canvas
                li
                    | Made by 
                    strong Sarah Cohen
                li
                    strong Categories:
                    |  #impressionism #painting #color
    card.card__side.card__side--back
        .card__cta
            .card__price-box
                p.card__price--only Only
                p.card__price--value 297$
            a.btn.btn--white.btn--art(href='#', data-desc='These are real details about this product', data-img='/img/art-1.jpg') See Description