h2 À propos de Dominique Sarah Cohen Berrebi
.about
    p.about__text
        | Née en 1956 en Tunisie, elle part en 1973 à Paris pour y faire ses études de medecine. En 2018, ayant atteint l'âge de la retraite, elle réalise enfin avec son mari leur rêve de faire la Alyiah en Erets Israël où sont déjà installés leurs enfants. Mais l'empreinte de son pays natal restera, comme pour beaucoup de juifs de Tunisie, toujours gravée en elle
    .about__images
        img.about__img(src='/img/mamido-1.jpg', type='image/jpg', alt='Image 1')
        img.about__img(src='/img/mamido-2.jpg', type='image/jpg', alt='Image 2')