ul.navbar
    li.nav__item.nav__item--logo
        img.logo-front(src='https://wixmp-fe53c9ff592a4da924211f23.wixmp.com/users/7bdfd45c-1c11-4546-a3ca-94520da18097/my-logos/previews/preview-3b120f35-358d-4ba5-a60e-aca825459eb3-1571138750974.png', type='image/png', alt='Logo')
    // <li class="nav__item nav__item--logo"><img class="logo-front" src="dev-data/img/logo-display.png" type="image/png" alt="Logo"></li>
    .nav__list
        li.nav__item
            a.link--nolink(href='tel:+972584144299')
                ion-icon.icon.icon--phone(name='call')
                |  +972 58-4144299